<%- include("partials/header") %>

<%- include("partials/navbar") %>


<div class="container-fluid">
    <%- include("partials/noteAdd") %> 

    <%- include("partials/noteCreate") %>
    

</div>




 
<%- include("partials/footer") %>
